@import '../../static/variables';
@import '../../static/scss/base';

.pageWrapper {
    background: white;
}

.navbar {
    height: 60px;
    background-color: $lightblack;
    font-family: $wrapperFont;
}

.navbarLinksWrapper {
    margin: 0;
    padding: 0;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbarLinksBase {
    border: 1px solid lighten($lightblack, 10%);
    list-style: none;
    line-height: 60px;
    width: 100%;
    cursor: pointer;
    background-color: $lightblack;
    text-decoration: none;
    text-align: center;
    color: #fdf8ff;

}

.logo {
    @extend .navbarLinksBase;
    padding-right: 5vw;
    background-color: $lightgreen;
    border: 1px solid darken($lightgreen, 10%);
}

.navbarLink {
    @extend .navbarLinksBase;
    transition: all 0.3s ease-out;
    &:hover {
        background-color: $lightpink;
        border: 1px solid darken($lightpink, 10%);
    }
}

.active {
    background-color: $lightpink;
    border: 1px solid darken($lightpink, 10%);
}
