@import url('https://fonts.googleapis.com/css?family=Concert+One');

$black: #0f0f0f;
$lightblack: #373737;
$darkgrey: #5d5e60;
$grey: #848388;
$lightgrey: #b7b7af;

$wrapperFont: 'Concert One', cursive;
