@import url('https://fonts.googleapis.com/css?family=Concert+One');

$lightblack: #556270;
$lightred: #e84a5f;
$lightpink: #ff847c;
$lightbeige: #fecea8;
$lightgreen: #99b898;

$wrapperFont: 'Concert One', cursive;
